
.sectionTitle h1 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 1.5em;
	color: #cf8a05;
	border-bottom: 2px solid #cf8a05;
}
.sectionContent h2 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	margin-bottom: -2px;

}
.keySkills {
	list-style-type: none;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;

	font-size: 1em;
	color: #444;
	list-style-type: disc;
}
#headshot img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}
.clear {clear: both;}
.container>.row{
	border-bottom: 2px solid #cf8a05;
}
